<div class="container-fluid">
  <div class="row">
    <div class="col-3 sidebar">
      <div class="images-block-container">
        <div class="image-block active">
          <div class="image">
            <img src="./assets/images/lamp.png" />
          </div>
          <div class="block">
            <div>
              <div class="title">Bed Lamp</div>
              <div class="sub-title d-none d-lg-block">In Bedroom</div>
            </div>
          </div>
        </div>
        <div class="image-block">
          <div class="image">
            <img src="./assets/images/ac.png" />
          </div>
          <div class="block">
            <div>
              <div class="title">Noria AC</div>
              <div class="sub-title d-none d-lg-block">In Bedroom</div>  
            </div>
          </div>
        </div>
        <div class="image-block">
          <div class="image">
            <img src="./assets/images/lock.png" />
          </div>
          <div class="block">
            <div>
              <div class="title">Door Lock</div>
              <div class="sub-title d-none d-lg-block">In Home office</div>
            </div>
          </div>
        </div>
        <div class="image-block">
          <div class="image">
            <img src="./assets/images/tv.png" />
          </div>
          <div class="block">
            <div>
              <div class="title">LG TV</div>
              <div class="sub-title d-none d-lg-block">In Living Room</div>
            </div>
          </div>
        </div>
        <div class="image-block">
          <div class="image">
            <img src="./assets/images/thermostat.png" />
          </div>
          <div class="block">
            <div>
              <div class="title">Thermostat</div>
              <div class="sub-title d-none d-lg-block">In Bedroom</div>
            </div>
          </div>
        </div>
      </div>     
      
    </div>
    <div class="col-9 main-content">
      <h1>Devices</h1>
      <p>&nbsp;</p>
      <h2>Bed Lamp</h2>
      <div class="contents">
          <section>
            <h6 class="section-header">Shades</h6>
            <div class="shade-box-container">
              <ul class="shade-box-items">
                <li class="item red active">&nbsp;</li>
                <li class="item purple">&nbsp;</li>
                <li class="item skyblue">&nbsp;</li>
                <li class="item blue">&nbsp;</li>
                <li class="item pink">&nbsp;</li>
              </ul>
            </div>

          </section>
          <section>
              <h6 class="section-header">Mode</h6>
              <div class="list-items">
                <table>
                  <tr class='active'>
                    <td><div class='icons morning-wh'>Morning</div></td>
                    <td class="d-none d-lg-block">50%</td>
                    <td><div class='icons tick-wh float-right'></div></td>
                  </tr>
                  <tr>
                    <td><div class='icons day'>Day</div></td>
                    <td class="d-none d-lg-block">30%</td>
                    <td><div class='icons tick float-right'></div></td>
                  </tr>
                  <tr>
                    <td><div class='icons night'>Night</div></td>
                    <td class="d-none d-lg-block">100%</td>
                    <td><div class='icons tick float-right'></div></td>
                  </tr>
                </table>
              </div>
          </section>      
          <section>
            <h6 class="section-header">Intensity</h6>
          </section>
      </div>
    </div>
  </div>
</div>